.venv_2026/
.env
__pycache__/
*.pyc.DS_Store
rsdb_slurs.json
rsdb_slurs_with_dups.json

# Data and outputs
hate_thermometer_data/outputs
MFRM_AIES26/MFRM_Data/
MFRM_AIES26/output files/
# *.csv
MFRM_AIES26
*.json          # excludes rsdb_slurs.json

# Build artifacts
RaschPy.egg-info/
__pycache__/
*.pyc
*.egg-info/